extends layout
block content
  div(class='medium-10 large-10 columns', id='blogcontent')

  div(class='medium-2 large-2 columns')
    p Her kommer tags
block footerscripts
  script(src='/js/blog.js')
