footer(class='footer')
  div(class='row')
    div(class='small-12 columns')
      p(class='slogan')
      p(class='links')
      p(class='copywrite')
        a(href='https://github.com/oyvindmal/oyvindsworklog') Kode tilgjengelig på GitHub
        br
        a(href='http://designmodo.com/') Logo icon av designmodo
