extends layout
block hero
  div(class='medium-12 large-12 columns hero', id='herounit')
    h1  Velkommen!
block content
  !{markdownhtml}
  hr
  <h2>Siste bloggpost</h2>
  br
  br
  div(class='medium-12 large-12 columns', id='blogcontent')
block footerscripts
  script(src='/js/frontpage.js')
