doctype html
html(lang='en', class="no-js")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    div(class='top-bar')
      div(class='top-bar-left')
        ul(class='menu')
          li(class='menu-text')
            a(href='/')
              img(src='/img/oyvindlab.png')
          include menu.jade
    block hero
    div(class='row', id="wrap")
      div(class='medium-12 large-12 columns')
        block content
    include footer.jade
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/foundation.js')
    script(src='/js/underscore.min.js')
    script(src='/js/app.js')
    block footerscripts
