doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')


        title= pageTitle

    body
      h1 Øyvinds fantastiske nettside
      hr
      block content
      hr
      p Powered by Uber simple super fast cms
